# IDE configurations
.idea/
*.iml
.vscode/

# OS files
Thumbs.db
.DS_Store

# Python files
*.egg-info
*.pyc
*.swp
*.prof
__pycache__/
erpnext_template/__pycache__/

# Codacy coverage
erpnext_template/.codacy-coverage
erpnext_template/get.sh

# Package managers
node_modules

# Other files
tags
erpnext_template/docs/current
*.xml
